#config-language {
	width: 100%;
	height: 30px;
	margin: 5px 0 0;
	padding: 6px 5px 5px 10px;
	cursor: pointer;
	border-radius: 0;
	appearance: none;
}

#config-language:hover {
	border-color: #ccc;
}
