#main-config-button {
	right: 60px;
}

#config-window .movable-body {
	overflow: hidden;
}

#main-config-box {
	padding: 25px 25px 0 25px;
	overflow: hidden;
}

.config-section {
	margin: 0 0 15px;
	clear: both;
}

.config-header {
	display: block;
	font-weight: normal;
	color: var(--color-text-light);
	border-bottom: solid 1px var(--color-text-light);
	margin: 0 0 5px;
	font-size: 14px;
}

.config-button {
	cursor: pointer;
	display: block;
	font-size: 12px;
}

.config-button:hover {
	color: var(--color-primary);
}

#font-size-table td {
	height: 40px;
}
